body{
    background-attachment: #ccc;
}
#header a:hover{
    color: #fff;
}
#bg-img{
    background: brown;
    background-size:100% ;
    background-repeat: no-repeat;
    min-height: 500px;
}

#About{
    margin-top: -200px;
}

#About .fa{
    color: #fff
}

#About span{
    padding: 10px 20px 10px 20px;
}
#About hr{
    border-width: 3px;
    margin-top: 06px;
}

#Skills span{
    padding: 10px 20px 10px 20px;

}

#Skills hr{

    border-width: 2px;
    margin-top: 06px;

}

#Experience span{
    padding: 10px 20px 10px 20px;


}
#Experience hr{
    border-width: 2px;
    margin-top: 06px;

}

Experience .card{
    border-top: 03px solid red;
}

#Contact span{
    padding: 10px 20px 10px 20px;

}

#Contact hr{
    border-width: 2px;
    margin-top: 06px;
}